{
	"extends": "eslint:recommended",
	"rules": {
		"comma-style": ["error", "last"],
		"indent": ["error", "tab"],
		"no-multi-spaces": "error",
		"no-tabs": "off",
		"no-trailing-spaces": "error",
		"quotes": ["error", "double"],
		"semi": ["error", "never"],
		"space-in-parens": ["error", "never"]
	}
}
